.table>tbody>tr>td {
	padding-top: 2px;
	padding-bottom: 2px;
}
.modal-body>.table>tbody>tr>th {
	padding-top: 2px;
	padding-bottom: 2px;
}

/*Boton agregar*/
.btn-add {
	margin-bottom: 10px;
}

.radio {
	display: inline-block;
	padding-right: 20px;
	width: 152px;
}

.form-control2 {
	display: table-cell;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
    border: 1px solid #ccc;
}

.btn-filter {
	vertical-align: baseline;
}